# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore everything inside the data directory
src-tauri/data/export/*
src-tauri/data/user/*
!src-tauri/data/user/.placeholder

# But allow graphic assets and API helper
!src-tauri/data/export/maps/
!src-tauri/data/export/masteryicons/
src-tauri/data/bin/*
!src-tauri/data/bin/tessdata/

# Ignore target and Cargo.lock
src-tauri/target/
src-tauri/Cargo.lock